@import '~chartist/dist/chartist.min.css';
@import '~morris.js/morris.css';
@import 'backoffice-theme/style.css';
@import 'backoffice-theme/icons/font-awesome/css/fontawesome-all.min.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import '~sweetalert2/dist/sweetalert2.min.css';


.auth_logo {
    width: 95px;
}

.logo-nav {
    width: 40px;
}

.logo-nav-text {
    width: 100px;
}

.auth-box {
    border-radius: 5px;
}

.user-image {
    position:relative;
}

.user-image .status{
    position:relative;
    bottom:20px;
    right:20px;
    width:20px;
    height:20px;
    border-radius: 50%;
    border: 3px solid white;
}

.user-image .online{
    background:limegreen;
}

.user-image .offline{
    background:dimgrey;
}

.form-horizontal .form-check {
    display:inline;
    padding-right:2.5em;
}

.zavoca-hide {
    display:none;
}

.show-mobile {
    display:none;
}

/**
 * Zavoca Context Search
 */

.zavoca-search-card {
    position:relative;
}

.zavoca-search-card .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    padding-left:7px;
    padding-right:7px;
    cursor: pointer;
    z-index:99;
}



@media screen and (max-width: 768px) {
    .hide-mobile {
        display:none;
    }

    .show-mobile {
        display:block;
    }
}