<div class="card text-center">
    <div class="card-body bg-cyan text-white">
        <span><i class="ti-bolt font-24"></i></span>
    </div>
    <div class="card-footer text-cyan bg-white">
        Welcome to quick actions!
    </div>
</div>