{% if flow.zavoca_list_title is not empty or  flow.zavoca_list_description is not empty %}
    <div class="card">
        <div class="card-body">
            {% if flow.zavoca_list_description %}<h6 class="card-subtitle">{{ flow.zavoca_list_description }}</h6>{% endif %}
            {% if flow.zavoca_list_title %}<h4 class="card-title">{{ flow.zavoca_list_title }}</h4>{% endif %}
        </div>
    </div>
{% endif %}

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="bg-inverse text-white">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>love bird</td>
            <td>@twitter</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>@mdo</td>
        </tr>
        </tbody>
    </table>
</div>