{% extends 'zavoca/core/base.html.twig' %}

{% block content %}
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            {{ flowResponse | raw }}
        </div>
    </div>
{% endblock %}